/* I have to think about how to handle the size of background. Because right now it's now the full viewport size because I added padding. That makes background image not cover the whole viewport..*/

/* The style and format of the body and main-container of page. */
body {
    background-image: url("../images/haiku-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/ /* I think maybe this fucks up the height? */
    background-color: #F8DCB0;
    color: #684037;
    font-family: "Georgia", serif;
    margin: 0;
    padding: 20px;

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* || The top section of the web page - logo and menu button */

#top-bar {
    display: flex;
    justify-content: space-between; /* left and right edges */
    align-items: center;             /* vertical centering */
    padding: 0 1rem;
    height: 60px;                   /* fix height as needed */
}

#logo {
    text-decoration: none;
    font-size: 2em;
    font-style: italic;
}

#logo:visited {
    color: inherit;
}

#logo:hover {
    color: #9e4a30;
}

/* || The container in the middle, containing haiku */

/*
Notes:
- I wasn't sure what the best way of centering the haiku was. So now, I justify-content the haiku
to the start, and then just do padding 36vh to get it centered.
*/
.haiku-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 33vh;
    width: auto;
    padding-top: 30vh;
}

h1, h2 {
    color: #2a4d69;
    font-weight: normal;
    margin-bottom: 1rem;
}

/* || The style of individual haiku */

.haiku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 1rem 1.2rem;
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 1.1rem;
    white-space: pre-line;
}

/* Text styling */

.haiku-text {
    font-size: 3em;
}

/* Author link styling */

.haiku-author {
    padding-top: 1em;
    text-decoration: none;
    opacity: 0.3;
}

.haiku-author:visited {
    color:inherit;
}

.haiku-author:hover {
    color: #9e4a30;
    opacity: 1;
}

.haiku.visible {

}

.haiku.hidden {
    display: none;
}