<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<!--  <div th:replace="fragments/menu :: menu"></div>-->
<div id="main-container">
    <div id="top-bar">
        <a id="logo" th:href="@{/}">
            Moss
        </a>

        <button class="menu-button" aria-label="Toggle menu" aria-expanded="false">
            <span></span>
            <span></span>
        </button>

    </div>

    <div class="haiku-container">
        <div id="haikus">
            <div class="haiku"
                 th:each="haiku, iterStat : ${haikus}"
                 th:classappend="${iterStat.index == 0} ? 'visible' : 'hidden'">

                <div class="haiku-text"
                     th:utext="${haiku.text}"> <!-- utext = Unescaped text, inserting a newline instead of literally "<br/>" -->
                    Haiku
                </div>

                <a class="haiku-author" th:href="@{/users/{id}(id=${haiku.user.id})}"
                   th:text="'by ' + ${haiku.user.username}">Author</a>

            </div>
        </div>
    </div>

    <div id="arrows">
        <span>Up arrow</span>
        <span>Down arrow</span>
    </div>

</div>

<script>
    document.getElementById("haiku-form").addEventListener("submit", function (e) { //note, getElementById doesn't work when client logged out, since haiku-form isn't displayed then.
        const text = document.querySelector("#haiku-text").value.trim();
        const lines = text.split(/\r?\n/); // regex. define regex within / /. \n is newline ofc. \r? means "match 1 or 0 occurrence of \r. this means the regex expr will match \r\n if \r is there, and \n if not.
        if (lines.length !== 3) {
            e.preventDefault();
            alert("A haiku must be three lines long.");
        }
    });
</script>

</body>
</html>
